body{
    font-family: sans-serif;
    font-size: 14pt;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 10pt;
}

div#LCD-container {
    text-align: center;
}

canvas {
    display: inline;
}